body {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin: auto;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-top: 20px;
    margin-right: 30px;
}

.nav-link:hover {
    color: #3cb0fd;
}

.nav-link:visited {
    color: blueviolet;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    margin: 50px 0;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 18px;
    border-style: none;
    padding: 10px;
    text-align: center;
    width: 9rem;
}

button:hover {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.sedans, .suvs, .luxury {
    align-content: center;
    padding: 50px 50px 100px;
    width: 400px;
}

.sedans-btn {
    color: hsl(31, 77%, 52%);
}

.suvs-btn {
    color: hsl(184, 100%, 22%);
}

.luxury-btn {
    color: hsl(179, 100%, 13%);
}

.sedans button:hover, .suvs button:hover, .luxury button:hover {
    color: hsl(0, 0%, 95%);
}

@media screen and (min-width: 1000px) {
    .main {
        flex-direction: row;
        line-height: 30px;
    }

    p {
        padding-bottom: 50px;
    }

    .sedans, .suvs, .luxury {
        height: 450px;
        padding: 50px 30px 0 50px;
        width: 210px;
    }

    button {
        bottom: 50px;
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }
}

/* Grid */
.grid {
    background-color: #1B2430;
}

.gridbox {
    display: grid;
    gap: 15px;
    margin: 10px auto;
    padding: 10px;
    width: 800px;
}

.grid-box1 {
    background-color: #354259;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 150px;
}

.grid-box2 {
    background-color: #ECE5C7;
    grid-column: 3;
    grid-row: 1;
    padding: 150px;
}

.grid-box3 {
    background-color: #C2DED1;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    padding: 150px;
    margin-right: 100px;
}

.grid-box4 {
    background-color: #CDC2AE;
    padding: 70px;
    margin-left: -100px;
}

.grid-box5 {
    background-color: #CDC2AE;
    padding: 70px;
    margin-left: -100px;
}

@media screen and (max-width: 1000px) {
    .gridbox {
        margin: 300px auto;
    }
}